<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BotToken" value="5636540135:AAETY_8TycL1ULaQGKbPTDIgxjPjQvfNWGg" />
		<add key="ApiAddress" value="https://localhost:7120" />
		<add key="PatternLogin" value="^логін:\s\S+\sпароль:\s\S+" />
		<add key="PatternRegister" value="^Реєстрація\nІм'я:\s\S+\nПрізвище:\s\S+\nEmail:\s\S+\nПароль:\s\S+\nГрупа:\s[0-9]+" />
		<add key="PatternFindDoc" value="^Тема:\s[А-ЯІЇЄҐа-яіїєґ0-9'`\-,\s]+"/>
		<add key="PatternLink" value="^Назва:\s[А-ЯІЇЄҐа-яіїєґ0-9'`\-,\s]+\nГрупа:\s[0-9]+\nПосилання:\s\S+"/>
		<add key="PatterFindDocByGroup" value="^Група:\s[0-9]+\nТема:\s[А-ЯІЇЄҐа-яіїєґ0-9'`\-,\s]+"/>
	</appSettings>
</configuration>