<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BotToken" value="5636540135:AAETY_8TycL1ULaQGKbPTDIgxjPjQvfNWGg" />
		<add key="ApiAddress" value="https://localhost:7120" />
		<add key="PatternLogin" value="логін:\s\w+\sпароль:\s\w+" />
	</appSettings>
</configuration>